<div class="step-container" [ngClass]="{'horizontal': isHorizontalView, 'vertical': !isHorizontalView}">
    <div class="d-flex step" (click)="navigateToStep(1, true)">
        <div class="d-flex align-items-center step-position">
            <div class="step-cercle step-text"> 1 </div>
        </div>
        <div class="d-flex flex-column">
            <span class="nav-title"> Tenant </span>
            <span class="sub-nav-title"> Form </span>
        </div>
    </div>

    <div class="w-100 divider-line" [ngClass]="{'vertical-divider-line': !isHorizontalView}"> </div>

    <div class="d-flex justify-content-center step" (click)="navigateToStep(2, clientAccount.tenant)">
        <div class="d-flex align-items-center step-position">
            <div class="step-cercle step-text" [ngClass]="{'step-diabled': !clientAccount.tenant}"> 2 </div>
        </div>
        <div class="d-flex flex-column">
            <span class="nav-title"> Informazioni generali </span>
            <span class="sub-nav-title"> Form </span>
        </div>
    </div>

    <div class="w-100 divider-line" [ngClass]="{'vertical-divider-line': !isHorizontalView}"> </div>

    <div class="d-flex justify-content-end step" (click)="navigateToStep(3, clientAccount.general)">
        <div class="d-flex align-items-center step-position">
            <div class="step-cercle step-text" [ngClass]="{'step-diabled': !clientAccount.general}"> 3 </div>
        </div>
        <div class="d-flex flex-column">
            <span class="nav-title"> Altro </span>
            <span class="sub-nav-title"> Form </span>
        </div>
    </div>
</div>
