.date-select-container {
    height: 48px;
    width: 220px;
    margin: 12px 0;    
    padding: 0 10px; 
}

.date-select-button {
    background-color: white;
    border-bottom: 2px solid #58B5B6;
    border-radius: 0;
    line-height: 24px;
    padding: 0 5px;
}

.date-button-text {
    font-size: 10px;
    color: rgba(83, 83, 83, 0.5);
}

.expand_more-icon {
    font-size: 24px;
    color: rgba(83, 83, 83, 0.5);
}

/*
.date-select-container {
    height: 24px; 
    width: 135px;
    padding: 0 10px; 
    margin: 10px 0;
}

.date-select-button {
    background-color: white;
    border-bottom: 2px solid #58B5B6;
    border-radius: 0;
    line-height: 24px;
    padding: 0 5px;
}

.date-button-text {
    font-size: 10px;
    color: rgba(83, 83, 83, 0.5);
}

.expand_more-icon {
    font-size: 18px;
    color: rgba(83, 83, 83, 0.5);
}

@media screen and (min-width: 1200px) {

    .date-select-container {
        height: 48px;
        width: 220px;
        margin: 12px 0;
    }

    .expand_more-icon {
        font-size: 24px;
    }

    .date-button-text {
        font-size: 13px;
    }

}
*/