
.container {
    position: relative;
    padding: 0;
    width: 300px;
    height: 32px;
}

.search-input {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.input-icon__icon {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 0;
    width: 3.2rem;
}

.input-text {
    color: black;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
}

.search-input-icon {
    font-size: 18px
}
